.widget-category {
    &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;flex-wrap: wrap;
        &-item {
            text-decoration: none;
            width: 15.5%;
            border: 1px solid #c2c2c2;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 22px;
            img {
                width: 100%;
                background-color: #f2f7fc;
            }
            div {
                color: #0090e3;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 20px;
                text-decoration: none;
            }
            &:hover {
                text-decoration: none;
                box-shadow: 0px 13px 19px -10px rgba(0, 0, 0, 0.30);
            }
        }
    }
    &-description {
        font-size: 1.3rem;
    }
    &-shortlinks {
        margin-top: 32px;
        &_lists {
            padding-left: 0;
            display: flex;
            list-style: none;
            justify-content: space-between;
        }
        &_item {
            &_title {
                color: #111;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 600;
                line-height: 18.75px;
            }
            &_list {
                padding-left: 0;
                list-style: none;
                a {
                    color: #0090e3;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                }
                li {
                    margin-bottom: 3px;
                }
            }
        }
    }
}
.page-title-wrapper {
    #page-title-heading {
        margin-bottom: 15px;
        .base {
            font-size: 2.8rem;
            color: #0090e3;
            font-weight: 600;
        }
    }
}
